/************ PAGE RESET **********************/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   font-size: 100%;
   vertical-align: baseline;
   background: transparent;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
   display: block;
}

audio,
canvas,
video {
   display: inline-block;
}

audio:not([controls]) {
   display: none;
   height: 0;
}

[hidden] { display: none; }

code, kbd, pre, samp {
   font-family: monospace, serif;
   font-size: 1em;
}

pre {
   white-space: pre;
   white-space: pre-wrap;
   word-wrap: break-word;
}

blockquote, q { quotes: &#8220 &#8220; }

blockquote:before, blockquote:after,
q:before, q:after {
   content: '';
   content: none;
}

ins {
   background-color: #ff9;
   color: #000;
   text-decoration: none;
}

mark {
   background-color: #A7F4F6;
   color: #555;
}

del { text-decoration: line-through; }

abbr[title], dfn[title] {
   border-bottom: 1px dotted;
   cursor: help;
}

table {
   border-collapse: collapse;
   border-spacing: 0;
}

html, body {
  max-width: 100%;
  height: auto;
  overflow: hidden;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
}

/******************NAV BAR ************/

ul {
    list-style-type: none;
    margin: 0;
    padding: 6px;
    overflow: hidden;
    background-color: transparent;
    float: right;
}

li {
    float: left;
    font-size: 22px;
    font-family: tahoma;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 8px 10px;
    text-decoration: none;
    text-shadow: 2px 2px #000;

}

li a:hover {
    background-color: #256DC2;
    text-decoration: none;
    color: white;
}

/**************MAIN********************/

.fonto {
    position: fixed;
    width: 100%;
    height: 100%;
    background: url('../img/cover.jpeg') center center no-repeat;    
    background-size: cover;
    background-position: center;
    top: 0;
    left: 0;
    z-index: -1;
}

.text {
    width: 100%;
    height: 120px;
    font-weight: 900;
    font-size: 100px;
    color: white;
}

.text_1{
    position: absolute;
    top: 50%;
    margin-top: -100px;
    left: 50%;
    margin-left: -300px;
    top: -200px;
}

.text_2{
    position: absolute;
    left: 50%;
    margin-left: -2070px;
    top: 200px;
}

.text_3{
    position: absolute;
    left: 50%;
    margin-left:-390px;
    top: 340px;
    opacity: 0;
}

/********FOOTER CSS ***************/
footer{
    position: absolute;
    width: 100%;
    height: 90px;
    bottom: 0;
}

.footer {
  background: transparent;
  padding: 10px 0;
}
.footer a {
  color: #01398E;
  font-size: 40px;
  padding: 10px;
  border-right: 1px solid #70726F;
  transition: all .5s ease;
}
.footer a:first-child {
  border-left: 1px solid #70726F;
}
.footer a:hover {
  color: #547596;
}

/**********INFOS***********/
.fonto_2  {
    position: fixed;
    width: 100%;
    height: 100%;
    background: url('../img/cover_2.jpg') center center no-repeat;    
    background-size: cover;
    background-position: center;
    top: 0;
    left: 0;
    z-index: -1;
}

h1{
    font-family: tahoma;
    color: white;
    text-shadow: 2px 2px #000;
    font-size: 60px;
    position: relative;
    left: 50%;
    margin-left: -500px;
    top: 50px;
    width: 1000px;
    text-align: center;
    opacity: 0;
}

.keimeno {
    width: 700px;
    height: 225px;
    background-color: transparent;
    position: relative;
    left: 50%;
    margin-left: -350px;
    opacity: 0;
}

.prwto {
    top:100px;
}

.deutero {
    top:100px;
}

.trito {
    top:100px;
}

.info{
    font-family: tahoma;
    text-align: justify;
    font-size: 21px;
    color: #fff7f7;
    text-shadow: 2px 2px #001;
}


/******************FUN**************************/
.fonto_3 {
    position: fixed;
    width: 100%;
    height: 100%;
    background: url('../img/cover_3.jpg') center center no-repeat;    
    background-size: cover;
    background-position: center;
    top: 0;
    left: 0;
    z-index: -1;
}

.container {
    opacity: 0;
}
.night_1 img ,.night_2 img ,.night_3 img ,.night_4 img ,.night_5 img, night_6 img{
    max-width: 100%;
    height: 100%;
    overflow: hidden;
}

.night_1{
    position: fixed;
    height: 660px;
    left: 50%;
    margin-left: -760px;
    top: 50%;
    margin-top: -350px;
    z-index: 1;
    opacity: 0.6;
    box-shadow: 0px 0px 20px #000000;
}

.night_2{
    position: fixed;
    height: 680px;
    left: 50%;
    margin-left: -700px;
    top: 50%;
    margin-top: -360px;
    z-index: 3;
    opacity: 0.8;
    box-shadow: 0px 0px 20px #000000;
}

.night_3{
    position: fixed;
    height: 700px;
    left: 50%;
    margin-left: -640px;
    top: 50%;
    margin-top: -370px;
    z-index: 6;
    opacity: 1;
    box-shadow: 0px 0px 20px #000000;
}

.night_4{
    position: fixed;
    height: 680px;
    left: 50%;
    margin-left: -580px;
    top: 50%;
    margin-top: -360px;
    z-index: 3;
    opacity: 0.8;
    box-shadow: 0px 0px 20px #000000;
}

.night_5{
    position: fixed;
    height: 660px;
    left: 50%;
    margin-left: -520px;
    top: 50%;
    margin-top: -350px;
    z-index: 1;
    opacity: 0.6;
    box-shadow: 0px 0px 20px #000000;
}

.night_6{
    position: fixed;
    height: 700px;
    left: 50%;
    margin-left: -640px;
    top: 50%;
    margin-top: -370px;
    z-index: 6;
    opacity: 0;
    box-shadow: 0px 0px 20px #000000;
    overflow: hidden;
}

.button_left{
    position: fixed;
    top: 50%;
    margin-top:-50px;
    left:30px;
    opacity: 0.8;
    z-index: 10000000001;
    cursor: pointer;
}

.button_left :hover{
    background-color: #000;
}
.button_right{
    position: fixed;
    top: 50%;
    margin-top:-50px;
    right:30px;
    z-index: 10000000001;
    cursor: pointer;
    opacity: 0.8;
}
.button_right :hover{
    background-color: #000;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}



/****************************TRAVEL*****************************/
.fonto_4 {
    position: fixed;
    width: 100%;
    height: 100%;
    background: url('../img/cover_4.jpg') center center no-repeat;    
    background-size: cover;
    background-position: center;
    top: 0;
    left: 0;
    z-index: -1;
}

.close{
    position: absolute;
    top: 0;
    width: 25px;
    height: 25px;
    background: #000;
    color: #000;
    font-size: 1.4em;
    font-weight: bold;
    text-align: center;
}
.close_1{
    left:0;
}
.close_2{
    right:0;
}
.close_3{
    left:0;
}
.close_4{
    right:0;
}
.close_5{
    left:0;
}
.close_6{
    right:0;
}
.close_7{
    right:0;
}

.box{
    position: absolute;
    width: 500px;
    height: 200px;
    background-color: rgba(255,255,255,0.4);
    margin: auto, 0;
    border-radius: 5px;
    border: 2px solid #000;
}
.box_1{
    top: 80px;
    left: -440px;

}
.box_2{
    top: 80px;
    right: -440px;
}

.box_3{
    top: 350px;
    left:-440px;
}
.box_4{
    top: 350px;
    right:-440px;
}
.box_5{
    top: 650px;
    left: -440px;
}
.box_6{
    top: 650px;
    right: -440px;
}

.box_7{
    bottom:-200px;
    left: 50%;
    margin-left: -250px;
}

.thump{
    position: absolute;
    width: 100px;
    height: 150px;
    top: 50%;
    margin-top: -75px;
}
.thump_1{
    left: 20px;
    background: url('../img/kerkura.jpg') center center no-repeat;
}
.thump_2{
    right: 20px;
    background: url('../img/kefalonia.jpg') center center no-repeat;

}
.thump_3{
    left: 20px;
    background: url('../img/leukada.jpg') center center no-repeat;
}
.thump_4{
    right: 20px;
    background: url('../img/zakun8os.jpg') center center no-repeat;
}
.thump_5{
    left: 20px;
    background: url('../img/i8akh.jpg') center center no-repeat;
}
.thump_6{
    right: 20px;
    background: url('../img/ku8hra.jpg') center center no-repeat;

}
.thump_7{
    left: 20px;
    background: url('../img/paxoi.jpg') center center no-repeat;
    bottom: 0;
}

.small_thump{
    position: absolute;
    width: 40px;
    height: 150px;
    top: 50%;
    margin-top: -75px;
    cursor: pointer;
}
.small_thump_1 {
    background: url('../img/kerkura.png') center center no-repeat;
    right: 10px;
}
.small_thump_2 {
    background: url('../img/kefalonia.png') center center no-repeat;
    left: 10px;
}
.small_thump_3 {
    background: url('../img/leukada.png') center center no-repeat;
    right: 10px;
}
.small_thump_4 {
    background: url('../img/zakun8os.png') center center no-repeat;
    left: 10px;
}
.small_thump_5 {
    background: url('../img/i8aki.png') center center no-repeat;
    right: 10px;
}
.small_thump_6 {
    background: url('../img/ku8hra.png') center center no-repeat;
    left: 10px;
}
.small_thump_7 {
    background: url('../img/paxoi.png') center center no-repeat;
    left: 50%;
    margin-left: -75px;
    width: 150px;
    height: 40px;
    top: 35px;
    border: 2px solid #000;
    background-color: rgba(255,255,255,0.4);
}

.summary{
    position: absolute;
    width: 300px;
    height: 150px;
    background-color: rgba(25,155,207,0.7);
    top: 50%;
    margin-top: -75px;
    right: 60px;
    color: white;
    font-family: tahoma;
    font-size: 14px;
    font-weight: 600;
    text-align: left;

}
.summary_1{
    right: 60px;
}
.summary_2{
    left: 60px;
}
.summary_3{
    right: 60px;
}
.summary_4{
    left: 60px;
}
.summary_5{
    right: 60px;
}
.summary_6{
    left: 60px;
}
.summary_7{
    right:60px;
    bottom: 0;
}

.video{
    position: absolute;
    left: 50%;
    margin-left: -280px;
    top: 50%;
    margin-top: -157px;

}
/*************************CONTACT***************************/
.fonto_5 {
    position: fixed;
    width: 100%;
    height: 100%;
    background: url('../img/cover_5.jpg') center center no-repeat;    
    background-size: cover;
    background-position: center;
    top: 0;
    left: 0;
    z-index: -1;
}
#contact-form {
   background-color:rgba(72,72,72,0.7);
   padding: 10px 20px 30px 20px;
   max-width:100%;
   left: 110px;
   position: absolute;
   top:140px;
   border-radius:7px;
   -webkit-border-radius:7px;
   -moz-border-radius:7px;
}
#contact-form input,   
#contact-form select,   
#contact-form textarea,   
#contact-form label { 
   font-size: 18px;  
   margin-bottom: 2px;
   font-family: Arial, san-serif;
} 
#contact-form input,   
#contact-form select,   
#contact-form textarea { 
   width:100%;
   background: #fff;
   -moz-border-radius: 4px;  
   -webkit-border-radius: 4px;  
   border-radius: 4px;
   margin-bottom: 30px;  
   padding: 8px;  
}  
#contact-form input:focus,   
#contact-form select:focus,   
#contact-form textarea:focus {  
   background-color: #E5E6E7; 
}  
#contact-form textarea {
   width:100%;
   height: 150px;
}
#contact-form button[type="submit"] {
   cursor:pointer;
   width:100%;
   border:none;
   background:#991D57;
   background-image:linear-gradient(bottom, #8C1C50 0%, #991D57 52%);
   background-image:-moz-linear-gradient(bottom, #8C1C50 0%, #991D57 52%);
   background-image:-webkit-linear-gradient(bottom, #8C1C50 0%, #991D57 52%);
   color:#FFF;
   margin:0 0 5px;
   padding:10px;
   border-radius:5px;
}
#contact-form button[type="submit"]:hover {
   background-image:linear-gradient(bottom, #9C215A 0%, #A82767 52%);
   background-image:-moz-linear-gradient(bottom, #9C215A 0%, #A82767 52%);
   background-image:-webkit-linear-gradient(bottom, #9C215A 0%, #A82767 52%);
   -webkit-transition:background 0.3s ease-in-out;
   -moz-transition:background 0.3s ease-in-out;
   transition:background-color 0.3s ease-in-out;
}
#contact-form button[type="submit"]:active {
   box-shadow:inset 0 1px 3px rgba(0,0,0,0.5);
}
input:required, textarea:required {  
   box-shadow: none;
   -moz-box-shadow: none;  
   -webkit-box-shadow: none;  
   -o-box-shadow: none;  
} 
#contact-form .required {  
   font-weight:bold;  
   color: #E5E6E7;      
}

/*********************MEDIA QUERIES**************/


@media only screen and (max-width: 1400px) {

    .text {
        font-size: 80px;
    }

    .text_1{
        margin-left: -200px;
        top: -200px;

    }

    .text_2{
        margin-left: -2070px;
        top: 195px;
    }

    .text_3{
        margin-left:-300px;
        top: 310px;
        opacity: 0;
    }

    footer{
        height: 50px;
        bottom: 0;
    }

    .footer {
      padding: 8px 0;
    }
    .footer a {
      font-size: 25px;
      padding: 8px;
    }

    h1 {
    text-shadow: 2px 2px #000;
    font-size: 50px;
    margin-left: -500px;
    top: 60px;
    }

    .info{
    font-size: 18px;
    }

    .keimeno {
    width: 700px;
    height: 180px;
    }
    .prwto {
        top:90px;
    }

    .deutero {
        top:50px;
    }

    .trito {
        top:30px;
    }
    .night_1{
        width: 820px;
        margin-left: -530px;
        height: 460px;
        top: 50%;
        margin-top: -230px;
    }
    .night_2{
        width: 820px;
        margin-left: -470px;
        height: 480px;
        top: 50%;
        margin-top: -240px;
    }
    .night_3{
        width: 820px;
        margin-left: -410px;
        height: 500px;
        top: 50%;
        margin-top: -250px;
    }
    .night_4{
        width: 820px;
        margin-left: -350px;
        height: 480px;
        top: 50%;
        margin-top: -240px;
    }
    .night_5{
        width: 820px;
        margin-left: -290px;
        height: 460px;
        top: 50%;
        margin-top: -230px;
    }

    .night_6{
        width: 820px;
        margin-left: -410px;
        height: 500px;
        top: 50%;
        margin-top: -250px;
    }

}

@media only screen and (max-width: 1000px) {

    .text {
        font-size: 60px;
    }

    .text_1{
        margin-left: -180px;
        top: -200px;

    }

    .text_2{
        margin-left: -2070px;
        top: 155px;
    }

    .text_3{
        margin-left: -270px;
        top: 240px;
        opacity: 0;
    }
    footer{
        position: absolute;
        width: 100%;
        height: 50px;
        bottom: 0;
    }
    .footer {
      padding: 8px 0;
    }
    .footer a {
      font-size: 25px;
      padding: 8px;
    }
    h1 {
    font-size: 40px;
    margin-left:-345px;
    top: 70px;
    }
    .info{
    font-size: 15px;
    text-shadow: 2px 2px #001;
    }
    .keimeno {
    width: 700px;
    height: 200px;
    left: 50%;
    }
    .prwto {
        top:100px;
    }

    .deutero {
        top:0;
    }

    .trito {
        top:-80px;
    }
    .night_1{
        width: 620px;
        margin-left: -380px;
        height: 360px;
        top: 50%;
        margin-top: -180px;
    }
    .night_2{
        width: 620px;
        margin-left: -350px;
        height: 380px;
        top: 50%;
        margin-top: -190px;
    }
    .night_3{
        width: 620px;
        margin-left: -310px;
        height: 400px;
        top: 50%;
        margin-top: -200px;
    }
    .night_4{
        width: 620px;
        margin-left: -280px;
        height: 380px;
        top: 50%;
        margin-top: -190px;
    }
    .night_5{
        width: 620px;
        margin-left: -250px;
        height: 360px;
        top: 50%;
        margin-top: -180px;
    }

    .night_6{
        width: 620px;
        margin-left: -310px;
        height: 400px;
        top: 50%;
        margin-top: -200px;
    }
}

@media only screen and (max-width: 790px) {

    li {
        font-size: 15px;
    }

    li a {
        padding: 3px 5px;
        text-shadow: 2px 2px #000;

    }

    .text {
        font-size: 50px;
    }

    .text_1{
        left: 50%;
        margin-left: -140px;
        top: -200px;

    }

    .text_2{
        margin-left: -2070px;
        top: 165px;
    }

    .text_3{
        margin-left: -180px;
        top: 250px;
    }

    .footer {
      padding: 8px 0;
    }
    .footer a {
      font-size: 25px;
      padding: 8px;
    }
    h1 {
    font-size: 30px;
    margin-left: -383px;
    top: 60px;
    width: 100%;
    }
    .info{
    font-size: 13px;
    text-shadow: 2px 2px #001;
    }
    .keimeno {
    width: 600px;
    height: 200px;
    }
    .prwto {
        top:80px;
        margin-left: -300px;
    }
    .deutero {
        top:-30px;
        margin-left: -300px;
    }
    .trito {
        top:-120px;
        margin-left: -300px;
    }
}

@media only screen and (max-width: 420px) and (orientation: portrait) {

    li {
        font-size: 10px;
    }

    li a {
        padding: 3px 5px;
    }
    .text {
        font-size: 40px;
    }

    .text_1{
        margin-left: -140px;
        top: -200px;
    }
    .text_2{
        margin-left: -2070px;
        top: 165px;
    }

    .text_3{
        margin-left: -170px;
        top: 240px;
    }

    .footer {
      padding: 8px 0;
    }
    .footer a {
      font-size: 25px;
      padding: 8px;
    }
    h1 {
    font-size: 18px;
    margin-left: -140px;
    top: 50px;
    }
    .info{
    font-size: 13px;
    text-shadow: 2px 2px #001;
    }
    .keimeno {
    width: 400px;
    height: 150px;
    }
    .prwto {
        top:80px;
        margin-left: -200px;
    }
    .deutero {
        top:60px;
        margin-left: -200px;
    }
    .trito {
        top:45px;
        margin-left: -200px;
    }
    .night_1{
        width: 300px;
        margin-left: -190px;
        height: 160px;
        top: 50%;
        margin-top: -80px;
    }
    .night_2{
        width: 300px;
        margin-left: -170px;
        height: 180px;
        top: 50%;
        margin-top: -90px;
    }
    .night_3{
        width: 300px;
        margin-left: -150px;
        height: 200px;
        top: 50%;
        margin-top: -100px;
    }
    .night_4{
        width: 300px;
        margin-left: -130px;
        height: 180px;
        top: 50%;
        margin-top: -90px;
    }
    .night_5{
        width: 300px;
        margin-left: -110px;
        height: 160px;
        top: 50%;
        margin-top: -80px;
    }

    .night_6{
        width: 300px;
        margin-left: -150px;
        height: 200px;
        top: 50%;
        margin-top: -100px;
    }
    .button_left{
        top: 50%;
        margin-top: 120px;
        left: 50%;
        margin-left: -60px;
    }
    .button_right{
        top: 50%;
        margin-top: 120px;
        left: 50%;
        margin-left: 30px;
    }
}

@media only screen and (max-width: 640px) and (orientation: landscape) {

    li {
        font-size: 10px;
    }

    li a {
        padding: 3px 5px;
    }
    .text {
        font-size: 40px;
    -webkit-text-stroke: 1px #000;
    }
    .text_1{
        margin-left: -140px;
        top: -200px;
    }
    .text_2{
        margin-left: -2070px;
        top: 135px;
    }

    .text_3{
        margin-left: -170px;
        top: 190px;
    }

    .footer {
      padding: 8px 0;
    }
    .footer a {
      font-size: 25px;
      padding: 8px;
    }
    h1 {
    font-size: 20px;
    margin-left: -320px;
    top: 40px;
    }
    .info{
    font-size: 13px;
    text-shadow: 2px 2px #001;
    }
    .keimeno {
    width: 500px;
    height: 150px;
    }
    .prwto {
        top:50px;
        margin-left: -250px;
    }
    .deutero {
        top:-10px;
        margin-left: -250px;
    }
    .trito {
        top:-55px;
        margin-left: -250px;
    }
}

@media only screen and (max-width: 360px) and (orientation: portrait) {
    li {
        font-size: 10px;
    }

    li a {
        padding: 3px 5px;
    }
    .text {
        font-size: 40px;
    }

    .text_1{
        margin-left: -100px;
        top: -200px;
    }
    .text_2{
        margin-left: -2070px;
        top: 135px;
    }

    .text_3{
        margin-left: -140px;
        top: 180px;
    }

    .footer {
      padding: 8px 0;
    }
    .footer a {
      font-size: 25px;
      padding: 8px;
    }
    h1 {
    font-size: 16px;
    margin-left: -70px;
    top: 50px;
    }
    .info{
    font-size: 12px;
    text-shadow: 2px 2px #001;
    }
    .keimeno {
    width: 300px;
    height: 170px;
    }
    .prwto {
        top:70px;
        margin-left: -150px;
    }
    .deutero {
        top:50px;
        margin-left: -150px;
    }
    .trito {
        top:45px;
        margin-left: -150px;
    }
}
